<nav>
  <div class="nav-wrapper">
    <a href class="brand-logo center"><img ng-src="./../../../assets/logo.png"></a>

    <ul class="left hide-on-med-and-down">
      <li class="waves-effect waves-custom" ng-repeat="item in ::$ctrl.items">
        <a ui-sref="{{ ::item.state }}">
          <i class="material-icons left">{{ ::item.icon }}</i>{{ ::item.label }}
        </a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li class="waves-effect waves-custom">
        <a href="https://developer.spotify.com/web-api/endpoint-reference/">
          <i class="material-icons left">cloud</i>Spotify WebAPI
        </a>
      </li>
    </ul>

  </div>
</nav>
