<div class="row">
  <div class="col s4 m4 offset-s4">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
        <input placeholder="Search ..."
               type="text"
               ng-model="ctrl.search"
               ng-model-options="{debounce: 300}"
               ng-change="ctrl.searchAlbums(ctrl.search)">
      </div>
  </div>
</div>

<div class="row" ng-hide="ctrl.albums.length">
  <p class="center-align">No search results</p>
</div>

<div class="row" ng-show="ctrl.albums.length">
  <div class="columns">
    <div class="column album" ng-repeat="album in ctrl.albums">
      <div class="card">
        <div class="card-image">
          <img ng-src="{{album.images[0].url}}">
          <a ng-click="ctrl.addBookmark(album)" ng-disabled="album.isAdded" class="btn-floating btn-large halfway-fab waves-effect waves-light red">
            <i class="material-icons">{{album.isAdded ? 'done': 'add' }}</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title">{{album.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
