<div class="row" ng-hide="ctrl.bookmarks.length">
  <p class="center-align">No bookmarks</p>
</div>

<div class="row bookmarks">
  <div ng-repeat="bookmark in ctrl.bookmarks" class="col xl3 l4 m6">
    <div class="card horizontal">
      <div class="card-image">
        <img ng-src="{{bookmark.images[1].url}}">
      </div>
      <div class="card-stacked">
        <div class="card-content give-me-ellipsis">
          <p>{{bookmark.name}}</p>
        </div>
        <div class="card-action">
          <a href ng-click="ctrl.remove(bookmark.id)">Remove</a>
        </div>
      </div>
    </div>
  </div>
</div>
